* {
    box-sizing: border-box;
}
html {
    font-size: 18px;
    font-family: lora,serif;
    line-height: 2;
}


a {
    text-decoration: none;
    color: black;
}

@media screen and (max-width:767px) {
    html {
        font-size: 14px;
        line-height: 1.6;
    }
}
h1,h2,h3,h6 {
    padding: 1.6rem 0;
}
h1 {
    font-size: calc(1rem * 1.90);
}
h2 {
    font-size: calc(1rem * 1.75);
}
h3 {
    font-size: calc(1rem * 1.50);
}
h6 {
    font-size: calc(1rem * 1.25);
}

section {
    padding: 2rem 0;
}
p {
    margin: 1rem 0;
}
