* {
    box-sizing: border-box;
}
html {
    font-size: 16px;
    font-family: lora,serif;
}
body {
    font-size: 1.125rem;
    line-height: 2.2rem;
}
a {
    text-decoration: none;
    color: black;
}
h1,h2,h3,h6 {
    padding: 1.6rem 0;
}
h1 {
    font-size: calc(1.2rem * 2.5);
    font-weight: 400;
}
h2 {
    font-size: calc(1.2rem * 2.25);
}
h3 {
    font-size: calc(1.2rem * 2);
}
h6 {
    font-size: calc(1.2rem * 1.25);
}
section {
    padding: 2rem 0;
}
p {
    margin: 1rem 0;
}
