@import './base.css';

.content {
    width: 1200px;
    margin: 0 auto;
}
header {
    background-image: url(https://d33wubrfki0l68.cloudfront.net/03a47e685da8c54ccd78c4776f2ebc4b5da70000/f9472/img/jam-watermark.svg);
    background-position: center;
    background-size: cover;
    padding: 156px 0 104px 0;
    margin-bottom: 3rem;
}
header h3 {
    line-height: 1.6;
    padding: 0;
}
header strong {
    font-weight: 400;
    color:hsl(184, 82%, 52%);
}
.nav-part {
    margin: 0;
    position: fixed;
    left:0;
    right:0;
    padding-top: 2.5rem;
    transition: background .2s ease,padding .2s ease,box-sadhow .2s ease;
}
.nav-part nav {
    display: flex;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
}
.nav-part .menu {
    display: flex;
    margin-top: 7px;
}
.nav-part .menu>li {
    padding: 0 .6rem;
}
.on-scroll-nav {
    background: white;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
    padding: 1.3rem 0;
}
.intro {
    
    display: flex;
    justify-content: space-around;
}
.intro .faq {
    max-height: 247px;
    line-height: 1;
    border: 1px solid rgb(204, 200, 200);
    width: 40%;
    padding: 1rem 0 0 3rem;
}
.intro .faq a {
    display: inline-block;
    font-size: 1.6rem;
    color: rgb(73, 210, 197);
    padding-bottom: 1rem;
}
.intro .text {
    width: 45%;
}
.text p:nth-child(1) {
    margin-top: 0;
}
.what p {
    margin: 0;
}
.what img {
    float: left;
    margin-right: 1.6rem;
}
.what h2 {
    padding-top: 3rem;
}
.what .js {
    padding: 3rem 6rem 0;
}
.what .api, .what .markup {
    padding: 0 6rem 0;
}
.what .api {
    margin: -4rem 0;
}
.what .example {
    margin-top: 3rem;
}
.what .example a {
    color: rgb(73, 210, 197);
}
.what .js, .what .api, .what .markup {
    overflow: hidden;
}
.not-jam .flex-point {
    display: flex;
    flex-wrap: wrap;
}
.not-jam .flex-point > .point {
    width: 50%;
    padding: 1.6rem 1.6rem 1.6rem 0;
}
.not-jam .point > img {
    float:left;
    margin-right: 1.6rem;
}
.not-jam .point > p {
    margin: 0;
}
.why h6 {
    padding: 0;
}
.why .why-flex {
    display: flex;
    flex-wrap: wrap;
}
.why .why-flex > .point {
    width: 50%;
    padding: 1.6rem 1.6rem 1.6rem 0;
}
.started h6 {
    padding: .25rem 0;
    font-weight: lighter;
}
.started a {
    color: rgb(73, 210, 197);
}
footer {
    text-align: center;
    padding: 2rem 0;
    background: rgb(249, 250, 246);
}
footer strong {
    color: rgb(73, 210, 197);
}
footer > p {
    margin: 0;
    font-size: 1rem;
    color: rgb(186, 181, 181);
}