@import './base.css';
@import url(http://weloveiconfonts.com/api/?family=entypo);

.content {
    max-width: 1200px;
    margin: 0 auto;
}
header {
    background-image: url(https://d33wubrfki0l68.cloudfront.net/03a47e685da8c54ccd78c4776f2ebc4b5da70000/f9472/img/jam-watermark.svg);
    background-position: center;
    background-size: cover;
    padding: 156px 1rem 104px;
    margin-bottom: 3rem;
}
header h3 {
    line-height: 1.6;
    padding: 0;
}
header strong {
    font-weight: 400;
    color:hsl(184, 82%, 52%);
}
@media screen and (max-width: 768px){
    header {
        text-align: center;
    }
}
.nav-part {
    margin: 0;
    position: fixed;
    left:0;
    right:0;
    padding-top: 2.5rem;
    transition: background .2s ease,padding .2s ease,box-sadhow .2s ease;
}
.nav-part nav {
    display: flex;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 0 1rem;
}
.nav-part .nav-left, .nav-part .nav-right {
    flex: 0 0 auto;
}
.nav-part .menu {
    display: flex;
    
}
.nav-part .menu > li {
    padding: 0 .6rem;
    flex: 0 0 auto;
}
.nav-part .mobile-action-menu {
    display: none;
}
 .mobile-menu {
    height: 0;
    overflow: hidden;
    transition: height .5s ease,padding-top .5s ease;
    width: 100%;
    background: white;
    
}
.mobile-menu-is-visible {
    height: 500px;
    padding: 2.6rem;
}
.nav-part .mobile-menu-media {
    display: none;
}
.nav-part .responsive-menu {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    width: 100%;
    
}
.nav-part .responsive-menu a {
    display: block;
    padding: 1.35rem 0;
    margin: .14rem 0;
    border-radius: 4px;
    background: rgb(248, 244, 244);
}
@media screen and (max-width: 900px) {
    .nav-part .nav-right {
        margin-right: 2rem;
    }
   .nav-part .mobile-action-menu {
        display: block;

    }
    .nav-part .mobile-menu-media {
        display: block;
    }
    /* [class*="entypo-"]:before {
        font-family: 'entypo', sans-serif;
    } */
    .nav-part .menu {
        display: none;
    }
}
.on-scroll-nav {
    background: white;
    box-shadow: 1px 1px 2px 1px rgba(0,0,0,0.1);
    padding: 1.3rem 0;
}
.intro {
    
    display: flex;
    justify-content: space-around;
}
.intro .faq {
    width: 40%;
}
.intro article {
    line-height: 1;
    border: 1px solid rgb(204, 200, 200);
    padding: 2rem;
}
.intro .faq a {
    display: inline-block;
    font-size: 1.6rem;
    color: rgb(73, 210, 197);
    padding-bottom: 1rem;
}
.intro .text {
    width: 45%;
}
.text p:nth-child(1) {
    margin-top: 0;
}
@media screen and (max-width: 767px) {
    
    .intro {
        display: flex;
        flex-direction: column;
        line-height: 1.8;
    }
    .intro .text {
        text-align: center;
        font-size: 1.3rem;
    }
    .intro .faq a {
        font-size: 1.125rem;
    }
    .intro > .text, .intro > .faq {
        width: 100%;
        padding: 1rem 1.3rem;
    }
}
.what p, .what h3 {
    padding: 0 2rem;
    margin: 0;
}
.what .stack {
    padding: 3rem 2rem;
    max-width: 960px;
    
}
.what .def {
    overflow: hidden;
    padding-top: 2rem;
}
.what .stack p {
    margin: 0;
    padding: 0;
}
.what h2 {
    padding: 0;
}
.what figure {
    float: left;
    margin-right: 1.6rem;
}

.what .api {
    margin: -4rem 0;
}
.what p.example {
    margin-top: 2rem;
}
.what .example a {
    font-weight: 500;
    color: rgb(73, 210, 197);
}
.what .js, .what .api, .what .markup {
    overflow: hidden;
}
@media screen and (max-width: 767px){
    .what > h3, .what > p {
        text-align: center;
        padding: 0 2rem;
        padding: 0 2rem;
        margin: 0;
    }
    .what .api {
        margin: 1.6rem 0;
    }
    .what .flex-img {
        width: 20.5%;
    }
    .what .def {
        overflow: hidden;
        padding-top: 0;
    }
}
.not-jam > h1, .not-jam > p {
    padding: 0 2rem;
}
.not-jam .flex-point {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 2rem;
}
.not-jam .flex-point > .point {
    width: 50%;
    padding: 1rem 0rem;
}
.not-jam .point > img {
    float:left;
    margin-right: 1.6rem;
}
.not-jam .point > p {
    margin: 0;
    overflow: hidden;
    font-size: 16px;
}
@media screen and (max-width:767px){
    
    .not-jam > h1, .not-jam > p {
        text-align: center;
    }
    .not-jam .flex-point {
        display: flex;
        flex-direction: column;
        padding: 1rem 2rem;
    } 
    .not-jam .flex-point > .point {
        width: 100%;
        padding: .6rem 0;
    }
    .not-jam .point > img {
        width: 15px;
        margin-right: .6rem;
        margin-top: .3rem;
    }
}
.why h1 {
    padding: 1rem 2rem;
}
.why h6 {
    padding: .6rem 0;
}
.why p {
    margin: .3rem;
}
.why .why-flex {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2rem;
}
.why .why-flex > .point {
    width: 50%;
}
.why .why-flex > .point{
    padding: .6rem;
}
.why .why-flex > .point:nth-child(even){
    padding-left:0;
    padding-right: 0;
}

@media screen and (max-width:767px){
    .why h1 {
        padding-right: 2rem;
        padding-left: 2rem;
        text-align: center;
    }
    .why h6 {
        font-weight: 700;
    }
    .why .why-flex {
        flex-direction: column;
        padding: 0 2rem;
    }
    .why .why-flex > .point {
        width: auto;
        padding: .6rem 0;
    }
}
.started h6 {
    padding: .25rem 0;
    font-weight: lighter;
}
.started a {
    color: rgb(73, 210, 197);
}
@media screen and (max-width: 767px){
    .started {
        text-align: center;
    }
}
footer {
    text-align: center;
    padding: 2rem 0;
    background: rgb(249, 250, 246);
}
footer strong {
    color: rgb(73, 210, 197);
}
footer > p {
    margin: 0;
    font-size: 1rem;
    color: rgb(186, 181, 181);
}