

.filter-box {
    display: flex;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 4rem;
    color: white;
    background-color: #ea880b30;
    
}
.anchor {
    position: relative;
}
header  {
    background: #7f00ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #7f00ff, #e100ff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #7f00ff, #e100ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-bottom: 1rem;
}
.hero .title {
    color: white;
    font-size: 4.5rem;
    font-weight: 400;
}

figure {
    margin-bottom: 1rem;
}
#fixed-bg {
    padding-top: 2rem;
}
#fixed-bg .anchor {
    height: 600px;
    background-image: url("../lake.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#frameworks .column {
    color: rgb(209, 201, 201);
}

#frameworks .react:hover {
    color: lightskyblue;
}

#frameworks .vue:hover {
    color: rgb(118, 201, 118);
}
#frameworks .angular:hover {
    color: rgb(184, 19, 19);
}


footer {
    margin-top:1rem;
    background-color: #616161 !important;
    padding: 3rem 1.5rem 0 !important;
    color: white;
}
footer .rights {
    margin-top: 9rem;
}
.is-text-center{
    text-align: center;
}
.logo {
    color:#afd1b3;
}
.menu a {
    color: white;
    display: block;
    font-weight: 600;
    margin-right: 1rem;
    padding: 0.75rem;   
}
.menu a:hover {
    border-bottom: 2px solid white;
}
.res-image img {
     width: 100%;
     height: auto;
}
.col-img-height img {
    height: 200px;
}