:root {
  box-sizing: border-box;
  --brand-color: hsl(111, 69%, 42%);

  --header-letter-color: hsl(0, 0%, 100%);
  --icon-item-border-round-color: hsl(0, 0%, 80%);
  --text-color: hsl(210, 11%, 15%);
  --bg-gradient-brand-color: linear-gradient(to right, #64b3f4, #37b721);
  --light-gray-color: hsl(0, 0%, 97%);
  --md-breakpoint: 38.4em;
  --dt-breakpoint: 51.1.5em;
  --xl-breakpoint: 66em;
  font-size: 15px;
  --main-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    'Helvetica Neue', Arial, sans-serif;
  --title-font: poppins, sans-serif;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font-family);
  line-height: 1.5;
  margin: 0;
}
a {
  text-decoration: none;
}
h1,
h3,
h4 {
  font-family: var(--title-font);
}
h3 {
  font-size: 1.5rem;
}
p {
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
p + p {
  margin-top: 1rem;
}
section + section {
  margin-top: 5.5rem;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 1em;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1100px;
  }
}
header {
  margin-bottom: 2rem;
}
.aux-pos-wrapper {
  position: relative;
  font-size: 1rem;
  background-image: url(https://markups.io/demo/outing/assets/images/head-featured-bg.jpg);
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  color: var(--header-letter-color);
  z-index: 1;
  text-align: center;
  padding: 5rem 0;
}
@media (min-width: 768px) {
  .aux-pos-wrapper {
    padding-bottom: 15em;
  }
}
.aux-pos-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--bg-gradient-brand-color);
  opacity: 0.87;
  z-index: -1;
}

.brand-bar {
  display: flex;
  flex-direction: column;
  color: var(-var(--header-letter-color));
  align-items: center;
}

@media (min-width: 768px) {
  .brand-bar {
    flex-direction: row;
    justify-content: space-between;
  }
}

.brand-bar__logo {
  font-family: var(--title-font);
  font-size: 2em;
  font-weight: 700;
  padding: 0.2em 1em;
  color: var(--brand-color);
  background-color: white;
}

.brand-bar__contact {
  display: flex;
  font-size: 0.9em;
  margin-top: 1em;
}
@media (min-width: 480px) {
  .brand-bar__contact {
    margin-top: 1.6em;
    font-size: 1.05em;
  }
}
@media (min-width: 768px) {
  .brand-bar__contact {
    margin-top: 0;
  }
}
.brand-bar__contact-phone {
  order: 2;
}
@media (min-width: 768px) {
  .brand-bar__contact-phone {
    order: 0;
  }
  .brand-bar__contact-phone::after {
    content: '';
    margin: 0 8px;
    border-right: 1.5px solid white;
  }
}
.brand-bar__contact-phone .fa-phone {
  transform: rotate(90deg);
}
.brand-bar__contact-mail::after {
  content: '';
  margin: 0 8px;
  border-right: 1.5px solid white;
}
@media (min-width: 768px) {
  .brand-bar__contact-mail::after {
    margin: 0;
    border: none;
  }
}

.intro {
  margin-top: 3em;
}
@media (min-width: 768px) {
  .intro {
    font-size: 1.4em;
    margin-top: 7.5em;
  }
}
.intro__welcome {
  margin: 0;
  margin-bottom: -1.6em;
  font-size: 0.9em;
}
.intro__message {
  margin: 1em 0;
  line-height: 1;
  font-size: 1.75em;
  text-transform: uppercase;
}
.intro__text {
  margin-top: -0.9em;
  font-weight: lighter;
}
@media (min-width: 768px) {
  .intro__text {
    font-weight: 300;
    font-size: 0.8em;
  }
}
.intro__welcome,
.intro__message {
  font-weight: 600;
}
.intro__button {
  display: inline-block;
  margin-top: 2.3em;
  padding: 0.75em 1.2em;
  background-color: white;
  border-radius: 30px;
  color: var(--brand-color);
  font-weight: 400;
  text-transform: uppercase;
  border: none;
}
@media (min-width: 768px) {
  .intro__button {
    font-size: 0.9em;
  }
}
.intro i {
  display: block;
  font-size: 2.8rem;
  margin-top: 1.5em;
}
.pic-text {
  padding-top: 2rem;
}
.pic-text__pic img {
  width: 290px;
}
.pic-text__text h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-weight: 100;
}
.icons-section {
  text-align: center;
}
.icons-section__wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
}

.icons-section__icon-item + .icons-section__icon-item {
  margin-top: 3rem;
}

.icons-section__icon-item i {
  display: inline-block;
  padding: 2rem;
  border-radius: 50%;
  border: 2px solid var(--icon-item-border-round-color);
  font-size: 1.8rem;
  color: var(--brand-color);
}
.video-trip {
  position: relative;
  padding: 5rem 0;
  background-image: url(https://markups.io/demo/outing/assets/images/about-video-bg.jpeg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  text-align: center;
  color: white;
  z-index: 2;
}
.video-trip::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: var(--bg-gradient-brand-color);
  opacity: 0.9;
  z-index: -1;
}
.video-trip__video {
  margin-top: 4rem;
}
.video-trip__video iframe {
  width: 100%;
  height: 290px;
  border: none;
}
.video-trip h3 {
  line-height: 1.15;
}
.header-paragraph {
  text-align: center;
  margin-bottom: 4rem;
}
.grid-6-section {
  display: flex;
  flex-wrap: wrap;
}
.grid-6-section__gutter-wrapper {
  /* complethe in higher breakpoints */
  text-align: center;
  padding: 0 1rem;
}
.grid-6-section__gutter-wrapper + .grid-6-section__gutter-wrapper {
  margin-top: 1.8rem;
}
.grid-6-section__item {
  background-color: var(--light-gray-color);
  padding-bottom: 1.6rem;
}
.grid-6-section__item > h3 {
  margin-bottom: 0;
}
.grid-6-section__item > p:first-of-type {
  font-size: 1.05rem;
  font-family: var(--title-font);
  font-weight: 600;
}
.grid-6-section__item > *:not(img) {
  padding: 0 1rem;
}
.grid-6-section__item img {
  max-width: 100%;
}

.grid-2-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.space-2-section {
  margin-top: 2rem;
}
.grid-2-section__item-1 {
  font-size: 1.4rem;
  font-weight: 500;
  color: hsl(0, 0%, 20%);
}
.grid-2-section__item-2 > button {
  border: 1px solid var(--brand-color);
  padding: 0.8rem 1.6rem;
  border-radius: 20px;
  color: var(--brand-color);
  background-color: white;
  font-size: 1rem;
  font-weight: 500;
}
.slider {
  position: relative;
  background-image: url(https://markups.io/demo/outing/assets/images/testimonials-bg.jpeg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  color: white;
  padding: 3rem 0;
  z-index: 1;
}
.slider::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.35);
  z-index: -1;
}
.slider__items-wrapper {
  overflow: hidden;
  position: relative;
}
.slider__items-slide-wrapper {
  display: flex;
  max-width: 100%;
}
.slider__items-slide-wrapper > * {
  min-width: 100%;
}

.slider__item i {
  font-size: 2rem;
  line-height: 3;
  color: var(--brand-color);
}
.slider__item > p {
  margin-bottom: 2rem;
}
.slider__avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}
.slider__opinions {
  font-family: var(--title-font);
  font-weight: 600;
}
.slider__person-name {
  font-size: 1.25rem;
}
.slide__buttons {
  display: inline-flex;
  margin-top: 2rem;
}
.slide__buttons > * {
  cursor: pointer;
  width: 25px;
  border: 3px solid var(--brand-color);
  margin: 0 5%;
}
.clients h3 {
  font-size: 1.3rem;
  text-align: center;
  margin: 3rem 0;
}
.slider-res-wrapper {
  position: relative;
}
.slider-res-wrapper__frame {
  overflow: hidden;
}
.slider-res {
  display: flex;
  position: relative;
}
.slider-res__item {
  flex-shrink: 0;
  line-height: 1;
  padding: 0 0.15rem;
}
@media (min-width: 1200px) {
  .slider-res__item {
    padding: 0 0.65rem;
  }
}

.slider-res__item img {
  max-width: 100%;
  width: 100%;
  margin-left: 0;
}

.slider-res-wrapper__button {
  position: absolute;
  cursor: pointer;
  width: 50px;
  height: 50px;
  top: calc(50% - 50px / 2);
  border: 2px solid var(--brand-color);
  font-size: 2rem;
  color: var(--brand-color);
  background-color: transparent;
  z-index: 2;
}
.slider-res-wrapper__button i {
  position: relative;
  z-index: -1;
}

@media (min-width: 540px) and (max-width: 1200px) {
  .slider-res-wrapper__button {
    top: 25%;
    bottom: 25%;
  }
}
.slider-res-wrapper__button-left {
  left: -0.45rem;
}
.slider-res-wrapper__button-right {
  right: -0.45rem;
}

@media (min-width: 540px) {
  .slider-res-wrapper__button-left {
    left: -2.5rem;
  }
  .slider-res-wrapper__button-right {
    right: -2.5rem;
  }
}

@media (min-width: 768px) {
  .slider-res-wrapper__button-left {
    left: -4rem;
  }
  .slider-res-wrapper__button-right {
    right: -4rem;
  }
}
.text-button {
  color: white;
  padding: 1.6rem 0;
  text-align: center;
  background-color: var(--brand-color);
}
.text-button__text {
  margin-top: 0;
  font-size: 1.3rem;
  font-weight: 700;
  line-height: 1.3;
}
.text-button__button {
  display: inline-block;
  border: none;
  border-radius: 25px;
  background-color: white;
  color: var(--brand-color);
  font-size: 1.1rem;
  text-transform: uppercase;
  padding: 0.75rem 1.6rem;
}
.contact-us {
  text-align: center;
}
.contact-us form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
}
.contact-us__item {
  min-width: 100%;
  text-align: left;
}
.contact-us__item + .contact-us__item {
  margin-top: 3rem;
}

.contact-us__item input,
.contact-us__item textarea {
  display: block;
  font-size: 16px;
  padding-bottom: 1rem;
  padding-left: 20px;
  min-width: 100%;
  border: none;
  border-bottom: 1px solid rgb(163, 163, 168);
}
.contact-us input {
  min-height: 30px;
}
.contact-us input::placeholder,
.contact-us textarea::placeholder {
  color: rgb(90, 89, 89);
  font-size: 1rem;
}
.contact-us input:focus,
.contact-us textarea:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid var(--brand-color);
}
.contact-us button {
  margin: 3rem auto 0;
  padding: 1rem 2rem;
  font-size: 1rem;
  border-radius: 20px;
  border: 1px solid var(--brand-color);
  background-color: var(--brand-color);
  color: white;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 500ms;
}
.contact-us button:hover {
  background-color: white;
  color: var(--brand-color);
  border: 1px solid var(--brand-color);
}
.map-section {
  width: 100%;
  border: none;
}
footer {
  margin-top: 2rem;
}
.foot-block {
  text-align: center;
}
.foot-block p {
  font-size: 0.9rem;
}
.social-icons {
  margin-top: 1rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}

.social-icons__item {
  transition: all 300ms;
  display: inline-block;
  line-height: 30px;
  width: 30px;
  height: 30px;
  border: 1px solid black;
  border-radius: 7px;
}
.social-icons__item + .social-icons__item {
  margin-left: 0.4rem;
}
.social-icons__item:hover {
  color: var(--brand-color);
  border-color: var(--brand-color);
}
.start-button {
  transition: all 500ms;
  opacity: 0;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  cursor: pointer;
  background: var(--brand-color);
  color: white;
}
